<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="user.mapper.userMapper">

    <resultMap id="userResultMap" type="info.thecodinglive.model.UserVO">
        <result property="id" column="id"/>
        <result property="userName" column="username"/>
        <result property="email" column="email"/>
    </resultMap>


    <select id="selectUserInfoAll" resultType="hashMap">
    <![CDATA[
		SELECT id, username, email
		FROM tbl_user
	]]>
    </select>

    <insert id="addUserInfo"  parameterType="info.thecodinglive.model.UserVO">
    <![CDATA[
        INSERT INTO TBL_USER(ID ,USERNAME, email)
        values(#{id},#{userName}, #{email})
     ]]>
    </insert>

    <select id="findByUserNameLike" parameterType="map" resultType="hashMap">
    <![CDATA[
      SELECT
            ID,
            USERNAME,
            email
      FROM TBL_USER
      WHERE USERNAME LIKE '%${userName}%'
     ]]>
    </select>

    <select id="findByUserName" parameterType="map" resultMap="userResultMap">
    <![CDATA[
      SELECT
            ID,
            USERNAME,
            email
      FROM TBL_USER
      WHERE USERNAME =#{userName}
      ]]>
    </select>
</mapper>