@keyframes marqueeEffect {
    from {transform: translateX(100%);}
    to {transform: translateX(-100%);}
}

.marquee {
    display: block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: marqueeEffect 10s linear infinite;
}
