<!DOCTYPE html>
<html>
    <head>
        <title>webjar</title>
        <script type="text/javascript" src="/webjars/jquery/3.1.0/jquery.min.js"></script>
        <link rel="stylesheet" href="/webjars/bootstrap/3.3.1/css/bootstrap.min.css"/>
        <script src="/webjars/bootstrap/3.3.1/js/bootstrap.min.js"></script>
        <style>
            div {
                background-color: #bca;
                width: 100px;
                border: 1px solid green;
            }
        </style>

    </head>
    <body>

    <div id="block">jquery222</div>

    <button type="button" class="btn btn-primary" onclick="btnHandler()">effect</button>

    <script type="text/javascript">
        function btnHandler(){
            $('#block').animate({
                width:"70%",
                opacity:0.4,
                marginLeft:"0.6in",
                fontSize:"3em",
                borderWidth:"10px"
            }, "15");
        }
    </script>

    </body>
</html>