<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>thymeleaf3</title>
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
</head>
<body>
<table border="1">
    <tr>
        <th>color</th>
        <th>name</th>
        <th>price</th>
    </tr>
    <tr th:each="prod : ${products}">
        <td th:text="${prod.color}"></td>
        <td th:text="${prod.productName}"></td>
        <td th:text="${prod.price}"></td>
    </tr>
</table>
<script type="text/javascript">
    console.log($.fn.jquery);
</script>
</body>
</html>